# Lists:

1. Create an empty list and add five integers to it.

In [1]:
empty_list = []
empty_list.append(10)
empty_list.append(32)
empty_list.append(12)
empty_list.append(43)
empty_list.append(80)
print(empty_list)

[10, 32, 12, 43, 80]

2. Declare a list of your favorite fruits and print the second fruit.

In [2]:
fvrt_fruit = ['Banana', 'Apple', 'Mango', 'Watter Melon']
fvrt_fruit[1]

'Apple'

3. Add two lists together.

In [3]:
list1 = [23,53,89,90,31]
list2 = [54,68,23,53,70]
x = list1 + list2
x

[23, 53, 89, 90, 31, 54, 68, 23, 53, 70]

4. Remove an item from the list.

In [4]:
item = [23,43,53,12,99,53]
x = item.remove(43)
item

[23, 53, 12, 99, 53]

5. Check if a specific element is present in the list.

In [5]:
my_list = [23,43,65,36,73,13,68]
a = 36
if a in my_list:
    print('Yes Present')
else:
    print('Not Present')

Yes Present

6. Reverse the order of elements in the list.

In [6]:
my_list = [23,43,65,36,73,13,68, "Amit", "Raja", "Mukesh"]
my_list.reverse()
my_list

['Mukesh', 'Raja', 'Amit', 68, 13, 73, 36, 65, 43, 23]

7. Sort the list in ascending order.

In [7]:
my_list = [23,43,65,36,73,13,68]
my_list.sort()
my_list

[13, 23, 36, 43, 65, 68, 73]

8. Create a list of numbers and square each number using a list comprehension.

In [8]:
my_list = [5,6,9,33,7]
a = [num**2 for num in my_list]
a

[25, 36, 81, 1089, 49]

9. Create a list of even numbers from 1 to 10 using list comprehension.

In [9]:
my_list = [num for num in range(1,11) if num % 2 == 0]
my_list

[2, 4, 6, 8, 10]

10. Generate a list of square roots for numbers from 1 to 5 using list comprehension.

In [10]:
import math
my_list = [math.sqrt(num) for num in range(1,6)]
my_list

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

# Tuples:

1. Declare a tuple of your favorite colors.

In [11]:
fav_color = ("Red", "Black", "White", "Pink", "Purple")
fav_color

('Red', 'Black', 'White', 'Pink', 'Purple')

2. Access and print the third item in the tuple.

In [12]:
item = (32, 54, 76, 31, 94)
item[2]

76

3. Concatenate two tuples.

In [13]:
a = (32, 54, 76, 31, 94)
b = (53, 75, 29, 12, 83)
c = a + b
c

(32, 54, 76, 31, 94, 53, 75, 29, 12, 83)

4. Attempt to modify an item in the tuple and observe the result.

In [14]:
my_tuple = (1, 2, 3, 4, 5)
my_tuple[2] = 10

TypeError: 'tuple' object does not support item assignment

5. Create a tuple with a single element.

In [ ]:
a = (3,)
a
type(a)

6. Unpack the elements of a tuple into separate variables.

In [ ]:
marks = (39, 90, 86, 50,78)
amit, rohit, virat, sachin, mukesh = marks
print(amit)
print(rohit)
print(virat)
print(sachin)
print(mukesh)

7. Check if an item is present in the tuple.

In [15]:
items = (2,64,66,111,64,86,21,5)
a = 111
if a in items:
    print("Is Present")
else:
    print("Not Present")

Is Present

8. Create a tuple with elements of different data types (int, float, string) and print each element.

In [16]:
a = ( 36, "Amitabh", 78, "Amit", 21, 54, 88.5, 32.8)
a

(36, 'Amitabh', 78, 'Amit', 21, 54, 88.5, 32.8)

9. Find the index of a specific element in the tuple

In [17]:
a = (53,98,85,59,23,57,12,11,)
a.index(57)

5

10. Create a tuple of numbers from 1 to 5 and print a slice of the tuple

In [18]:
a = (1,2,3,4,5)
a[1:4]

(2, 3, 4)

11. Create a tuple with repeated elements and count the occurrences of a specific element.

In [19]:
a = (22, 43, 22, 65, 98, 65, 22, 11, 65, 9, 8, 65)
a.count(22)

3

12. Create a list of colors and convert it into a tuple

In [20]:
a = ["Red", "Black", "White", "Green", "Blue"]
b = tuple(a)
type(b)

tuple

13. Create a tuple of names and sort them alphabetically.

In [21]:
names = ("Mukesh", "Amit", "Milyani", "Sumit", "Ayush", "Virat", "Rohit") 
sorted_names = sorted(names)
sorted_names_tuple = tuple(sorted_names)
sorted_names_tuple

('Amit', 'Ayush', 'Milyani', 'Mukesh', 'Rohit', 'Sumit', 'Virat')

# Dictionaries:

1. Create a dictionary representing your contact information (name, email, phone number).

In [22]:

my_dict = {'Name' : 'Amit',
           'Email' : 'ahirwaramit2000@gmail.com',
           'Phone_Number' : 9011715712
    }
print("Name :", my_dict['Name'])
print("Email :", my_dict['Email'])
print("Phone_Number :", my_dict['Phone_Number'])

Name : Amit
Email : ahirwaramit2000@gmail.com
Phone_Number : 9011715712

2. Print just the keys of the dictionary.

In [23]:
my_dict = {'Name' : 'Amit',
           'Email' : 'ahirwaramit2000@gmail.com',
           'Phone_Number' : 9011715712
    }
print(my_dict.keys())

dict_keys(['Name', 'Email', 'Phone_Number'])

3. Print just the values of the dictionary.

In [24]:
my_dict = {'Name' : 'Amit',
           'Email' : 'ahirwaramit2000@gmail.com',
           'Phone_Number' : 9011715712
    }
values = my_dict.values()
values

dict_values(['Amit', 'ahirwaramit2000@gmail.com', 9011715712])

4. Access and print a specific value from the dictionary.

In [25]:
my_dict = {'Name' : 'Amit',
           'Email' : 'ahirwaramit2000@gmail.com',
           'Phone_Number' : 9011715712
    }
print("Name :", my_dict['Name'])

Name : Amit

5. Update your phone number in the dictionary.

In [26]:
my_dict = {'Name' : 'Amit',
           'Email' : 'ahirwaramit2000@gmail.com',
           'Phone_Number' : 9011715712
    }
# print("Original Contact Details :")
# print("Name =", my_dict['Name'])
# print("Email =", my_dict['Email'])
# print("Phone_Number=", my_dict['Phone_Number'])

# #updating the number
# new_contact_number = 88888010101
# my_dict["Phone_Number"] = new_contact_number

# print("\nUpdated Contact List:")
# print("Name =", my_dict['Name'])
# print("Email =", my_dict['Email'])
# print("Phone_Number=", my_dict['Phone_Number'])
updated_dict = {'Phone_Number' : '9988998899'}
my_dict.update(updated_dict)
my_dict

{'Name': 'Amit',
 'Email': 'ahirwaramit2000@gmail.com',
 'Phone_Number': '9988998899'}

6. Remove an item from the dictionary.

In [27]:
my_dict = {'Name' : 'Amit',
           'Email' : 'ahirwaramit2000@gmail.com',
           'Phone_Number' : 9011715712
    }
remove_item = ('Email')
my_dict.pop(remove_item)
my_dict

{'Name': 'Amit', 'Phone_Number': 9011715712}

7. Check if a specific key is present in the dictionary.

In [28]:
my_dict = {'Name' : 'Amit',
           'Email' : 'ahirwaramit2000@gmail.com',
           'Age' : '23',
           'College' : 'TGPCET',
           'City' : 'Nagpur',
           'Phone_Number' : 9011715712
    }
print(my_dict.get('City'))

Nagpur

8. Loop through the dictionary and print key-value pairs.

In [29]:
my_dict = {'Name' : 'Amit',
           'Email' : 'ahirwaramit2000@gmail.com',
           'Age' : '23',
           'College' : 'TGPCET',
           'City' : 'Nagpur',
           'Phone_Number' : 9011715712
    }
for key, value in my_dict.items():
    print(f'{key} : {value}')

Name : Amit
Email : ahirwaramit2000@gmail.com
Age : 23
College : TGPCET
City : Nagpur
Phone_Number : 9011715712

# Sets:

1. Create two sets of numbers and perform set union and intersection operations.

In [30]:
set1 = {12,53,66,77,54,86,33,66,22,66}
set2 = {33,65,33,73,85,14,33,66,34,66}

union_result = set1.union(set2)

intersection_result = set1.intersection(set2)

print("Set1 :", set1)
print("Set2 :", set2)
print("\nUnion of set1 and set2:", union_result)
print("\nIntersection of set1 and set2:", intersection_result)

Set1 : {33, 66, 12, 77, 53, 54, 86, 22}
Set2 : {65, 66, 34, 33, 85, 73, 14}

Union of set1 and set2: {33, 66, 65, 34, 73, 12, 77, 14, 53, 54, 86, 22, 85}

Intersection of set1 and set2: {33, 66}

2. Add a new element to one of the sets.

In [31]:
set1 = {12,53,66,77,54,86,33,66,22,66}
set2 = {33,65,33,73,85,14,33,66,34,66}

set1.add(111)
print(set1)
print(set2)

{33, 66, 12, 77, 111, 53, 54, 86, 22}
{65, 66, 34, 33, 85, 73, 14}

3. Remove an element from one of the sets.

In [37]:
set1 = {33,65,33,73,85,14,33,66,34,66}
set1.remove(33)
set1

{14, 34, 65, 66, 73, 85}

4. Check if a specific element is present in a set.

In [41]:
set1 = {33,65,33,73,85,14,33,66,34,66}
a = (33)
if a in set1:
    print("Is Present")
else:
    print("Not Present")

Is Present

5. Create a set from a list.

In [44]:
my_list = [23,43,12,43,65,72,34,23,"Amit", "Mukesh", "Ritik"]
my_set = set(my_list)
type(my_set)

set

6. Clear all elements from a set.

In [47]:
set1 = {33,65,33,73,85,14,33,66,34,66}
set1.clear()
set1

set()

7. Check if one set is a subset of another.

In [51]:
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {3,4,5}
is_subset = set2.issubset(set1)
if is_subset:
    print("Set 2 is subset of set 1")
else:
    print("Set 2 is not subset of 1")

Set 2 is subset of set 1

8. Generate a set of squares for numbers from 1 to 5 using set comprehension

In [59]:
set1 = [1,2,3,4,5]
my_set = [num**2 for num in set1]
final_set = set(my_set)
final_set

{1, 4, 9, 16, 25}

9. Create an empty set.

In [60]:
empty_set = {}
empty_set

{}

------------------------------------------------------------------Thank You--------------------------------------------------------------------------------